body {
    margin: 0;
    background: linear-gradient(270deg, #5676db, #8e56db, #9f3a89, #3a9f78);
    background-size: 800% 800%;
    animation: AnimationName 9s ease infinite;
}

@keyframes AnimationName {
    0% {
        background-position:0% 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0% 50%
    }
}